<li>
  <h3><strong>User: </strong>{{message.user}}</h3>
  <h3><strong>Question: </strong>{{message.question}}</h3>
  <div style='float: right;'>
    <div class="btn-group">
      {{new-comment saveComment="saveComment" message=model}}
      <button type="button" {{action 'delete' message}} class="btn btn-danger">Delete</button>
    </div>
  </div>
  <h2> Comments: </h2>
<ul>
  {{#each message.comments as |comment|}}
    {{comment-tile comment=comment}}
  {{/each}}
</ul>
  <br>
  <hr>
</li>
