{{#if addNewComment}}
<div class="well">
  <h1>New Comment</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="user">Username:</label>
          {{input value=user id="user"}}
        </div>
        <div class="form-group">
          <label for="content">Content:</label>
          {{input value=content id="content"}}
        </div>
        <button type="submit" {{action 'saveComment'}}>Post Comment</button>
      </form>
    </div>
  </div>
{{else}}
  <button {{action 'commentFormShow'}}>New Comment</button>
{{/if}}
