<div class="container">
  <div class="jumbotron">
    <h1 class="header">Welcome to Message Board</h1>
    <hr>
    <p class="header">Ask a question and find the answer here!</p>
  </div>
  <div class="newMessageBtn"style='float: center;'>
    {{new-message saveMessage="saveMessage"}}
  </div>
  <br>
  <div class="well">
    <h1 class="topicsHeader">Topics</h1>
    <hr>
    <ul>
      {{#each model.messages as |message|}}
      {{message-tile message=message destroyMessage="destroyMessage"}}
      {{/each}}
    </ul>
    <h2>All Reviews</h2>
    <ul>
      {{#each model.comments as |comment|}}
    <li>{{comment.user}} - {{comment.content}}</li>
      {{/each}}
    </ul>
  </div>
  
  <div class="newMessageBtn"style='float: center;'>
    {{new-comment saveComment="saveComment"}}
  </div>
</div>
